@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: 30% 150%;
    background-size: 700px 400px;
}

@media (min-width: 768px) {
    #hero {
        background-image: url(../images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-position: 50% 200%;
        background-size: auto;
    }
}